* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.App {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
