.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 550px;
}

.each-slide div {
  padding: 20px;

  color: white;
  text-align: center;
}

.each-slide div h2 {
  font-size: 3rem;
}
