.About {
  max-width: 1200px;
  margin: 3rem auto;
  min-height: 76vh;
}

.About div:first-of-type h2 {
  margin-bottom: 1.2rem;
}
.About div:first-of-type {
  line-height: 1.8;
}

.About-flex {
  display: flex;
  margin: 1.8rem 0;
}

.About-flex p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.About-flex div:first-of-type {
  width: 60%;
}

.About-flex div:nth-child(2) {
  width: 30%;
  margin-left: auto;
}

.About-flex div:nth-child(2) img {
  width: 100%;
  height: 100%;
}

.About .reverse {
  flex-direction: row-reverse !important;
}

.About .reverse div:nth-child(2) {
  margin-right: auto !important;
  margin-left: 0;
}
/* Large View view */
@media only screen and (max-width: 1100px) {
  .About {
    padding: 1rem;
  }
  .About-flex div:nth-child(2) img {
    height: auto;
  }
}
/* Tablet view */ /* Already switch to mobile view here */

/* About Mobile */
@media only screen and (max-width: 768px) {
  .About {
    margin: 0;
    padding: 1rem;
  }

  .About-flex {
    flex-direction: column;
  }
  .About-flex div:first-of-type {
    width: 100%;
  }
  .About-flex div:nth-child(2) {
    width: 100%;
    margin: 0;
  }

  .About .reverse {
    flex-direction: column !important;
  }
}
