.Auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Auth input,
.Auth input:focus {
  border: none;
  outline: none;
  width: 90%;
}
.Auth .btn-action {
  background-color: #fb646b;
  padding: 1rem;
  border-radius: 25px;
  color: white;
  border: none;
  font-size: 1.2rem;
}

.Auth .google-btn {
  margin-top: 1rem;
}

.Auth .btn-switch {
  margin-bottom: 1rem;
  background: transparent;
  padding: 1rem;
  border-radius: 25px;
  color: white;
  border: none;
  font-size: 1.2rem;
}

.Auth .btn-display {
  background: transparent;
  border: none;
}

.Auth .form-container {
  width: 400px;
  text-align: center;
}
.Auth .form-container h1 {
  margin-bottom: 1rem;
  color: white;
}
.Auth .form-container form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Auth .form-border {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 25px;
  opacity: 0.8;
  margin-bottom: 1rem;
}
.Auth .form-border i {
  margin-right: 1rem;
}
