.mobile-screen {
  display: none;
}

.BikeNav {
  z-index: 50;
  position: absolute;
  top: 56px;
  left: 0;
  background-color: white;
  width: 100%;
  height: 258px;
  display: grid;
  grid-template-columns: 1fr 3fr;

  -webkit-box-shadow: 2px 4px 4px -3px rgba(0, 0, 0, 0.41);
  box-shadow: 2px 4px 4px -3px rgba(0, 0, 0, 0.41);
}
.BikeNav .BikeNav-select {
  min-width: 360px;
}
.BikeNav .BikeNav-select ul {
  flex-direction: column;
}

.BikeNav .BikeNav-select ul li {
  padding: 12px 1.8rem !important;
  color: white;
  background-color: #212427;
}

.BikeNav .BikeNav-select ul li:hover {
  background-color: black;
}

.BikeNav .active {
  background-color: #ab9a6f !important;
}

.BikeNav-bikes {
  display: flex;

  overflow-y: hidden;
}
.BikeNav .BikeNav-bike-card {
  height: 100%;

  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  position: relative;
}

.BikeNav .BikeNav-bike-card:after {
  content: "";
  background-color: #989898;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all ease 0.2s;
}
.BikeNav .BikeNav-bike-card:hover:after {
  opacity: 0.3;
}
.BikeNav .BikeNav-bike-card img {
  height: 80%;
}

/* Mobile Display */
@media only screen and (max-width: 768px) {
  .BikeNav {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    box-shadow: none;
  }
  .BikeNav .BikeNav-bike-card {
    width: 150px;
    padding: 0;
  }
  .BikeNav .BikeNav-bike-card img {
    width: 100%;
    height: auto;
  }
  .BikeNav .BikeNav-select {
    width: 100%;
    min-width: 0;
  }

  .lg-screen {
    display: none !important;
  }
}
