.Home {
  text-align: center;
}

.Home-best {
  margin: 1.5rem 0;
}

.Home-cards {
  display: flex;
  margin-top: 1rem;
}

.card-main {
  border: 1px solid rgba(51, 51, 51, 0.466);
}

.card-main img {
  width: 100%;
}

.card-main .card-main-content span {
  color: rgb(187, 146, 84);
}

.card-main .card-main-content {
  line-height: 2;
}
.card-main:hover .card-main-shop,
.card-main:hover .card-main-shop span {
  display: flex;
  opacity: 1;
}
.card-main .card-main-shop {
  display: flex;
  height: 2.5rem;
  opacity: 0;
  transition: all ease 0.3s;
}

.card-main .card-main-shop span {
  display: none;
  color: white;
  background-color: #333;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all ease 0.3s;
}

/* Home Page SLideshow properties */
.Home .each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 600px;
}

.Home .each-slide div {
  padding: 20px;
  line-height: 2;
  color: white;
  text-align: center;
}

.Home .each-slide div h2 {
  font-size: 3rem;
}

.Home .each-slide .btn {
  border: none;
  outline: none;
  background-color: #ab9a6f;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}
